{{#if article}} {{#each article}}
<div id="cardBorder" class="card mb-3">
  <div class="card-header">
    <h5>{{this.title}}</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h6>Article Summary</h6>
        <p id="pSummary">{{this.summary}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-secondary mr-2"><a id="btnRead" href="{{this.link}}" target="_blank">Read Article</a></button>
        <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
      </div>
    </div>
  </div>
</div>
<br>
{{/each}} {{else}}
<div id="centerSpace">
  <p id="emptyScrape">Looks like we don't have any news!</p>
  <a role="button" id="scrapeBtn">Scrape Articles Now</a>
</div>
</div>
{{/if}}
